:root {
  --sidebar-gray: rgb(104, 102, 102);
}

*,
*::before,
*::after {
  box-sizing: inherit;
  padding: 0;
  margin: 0;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif, Helvetica, sans-serif;
}

html {
  box-sizing: border-box;
}

.content {
  display: flex;
  padding: 0px;
}

.project{
  margin: 10px;

}

.p-heading {
  font-weight: bold;
  
  
}

.task-min{
  
  padding: 8px 0px 8px 0px;
  display: flex;
  align-items: start;
  
}

.task-name-date{
  margin-left: 12px;
  display: flex;
  flex-direction: column;
  gap: 4px;
}

.checkbox {
  margin: 4px 0px 0px 0px;
}

.task-name {
  flex-basis: 1;
}

.task-content {
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-grow: 1;
}

.date-div, .priority-div {
  font-size: 11px;
  color: rgb(102, 101, 101);
  margin-left: 6px;
}

.priority-delete {
  display: flex;
  gap: 12px;
}

.priority-div{
  display: flex;
  align-items: center;
}
.expand {
  display:none;
}

.expand.active {
  display: block;
}

.desc {
  padding: 20px 26px 20px 26px;
  color:rgb(72, 71, 71);
  font-size: 15px;
}

.task-container {
  margin: 12px 0px 12px 0px;
  max-width: 650px;
  display: flex;
  flex-direction: column;
  
  gap:6px;
  
  
}

.task {
  margin: 6px 0px 6px 0px;
  padding: 10px 20px 10px 20px;
  border: 1px rgb(102, 101, 101) solid;
  border-radius: 16px;
  box-shadow: 2px 2px 8px rgb(200, 197, 197);
}

.main {
  margin-left: 10px;
  
  padding-top: 20px;
  flex-grow: 1;
  display: flex;
  justify-content: center;

}

.container {
  display: flex;
  flex-direction: column;
  flex-grow: 1;
  padding-right: 20px;
  max-width: 650px;
}

.sidebar {
  background-color: var(--sidebar-gray);
  height:100vh;
  flex-basis: 25%;
  max-width: 320px;
  margin-right: 12px;
 display: flex;
 flex-direction: column;
 padding-top: 12px;
}

.instr {
  padding:12px;
}

button {
  text-align: start;
  display: inline-block;
    border: none;
    padding: .5rem 2rem;
    margin: 0;
    text-decoration: none;
    background: var(--sidebar-gray);
    color: #ffffff;
    font-family: sans-serif;
    font-size: 1rem;
    cursor: pointer;
    text-align: start;
    transition: background 250ms ease-in-out, 
                transform 150ms ease;
    -webkit-appearance: none;
    -moz-appearance: none;
}

button:hover,
button:focus {
    background: #0053ba;
}

button:focus {
    outline: 1px solid #fff;
    outline-offset: -4px;
}

button:active {
    transform: scale(0.99);
}

.delete-div, .edit-div, .add-task-button {
  padding: .25rem .5rem;
  font-size: 12px;
}

.task-checked {
  text-decoration: line-through;
}

.darken-div {
  display: none;
  position: fixed;
  top: 0;
  left: 0;
  background-color: rgba(44, 43, 43, 0.5);
  height: 100vh;
  width: 100vw
}

.darken {
  display:block
}

.popup {
  visibility: hidden;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: #fff;
  padding: 20px;
}

.show-popup {
  visibility: visible;
}

.form-container input[type=text], .form-container textarea {
  padding: 10px;
  border: none;
  background-color: #cbdaed;
}

.form-container input[type=text], .form-container textarea, .form-container select{
  margin: 4px 0px 12px 0px;
  border: none;
  background-color: #cbdaed;
}

.add-task-button{
  align-self: self-start;
}

